:root {
  --color-Dark-Blue: hsl(233, 26%, 24%);
  --color-Lime-Green: hsl(136, 65%, 51%);
  --color-Bright-Cyan: hsl(192, 70%, 51%);
  --color-neutral-Grayish-Blue: hsl(233, 8%, 62%);
  --color-neutral-Light-Grayish-Blue: hsl(220, 16%, 96%);
  --color-neutral-Very-Light-Gray: hsl(0, 0%, 98%);
  --color-neutral-White: hsl(0, 0%, 100%);
  --font-size-default: 1.5rem;
  --font-family-default: "Public Sans", sans-serif; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

.container {
  max-width: 144rem;
  padding: 0 14rem;
  margin: 0 auto; }

.main__grid {
  display: grid;
  grid-template-columns: [full-start] minmax(14rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(14rem, 1fr) [full-end]; }

.grid {
  display: grid;
  gap: 3.2rem; }

.grid-col--2 {
  grid-template-columns: repeat(2, 1fr); }

.grid-col--3 {
  grid-template-columns: repeat(3, 1fr); }

.grid-col--4 {
  grid-template-columns: repeat(4, 1fr); }

.grid-col--5 {
  grid-template-columns: repeat(5, 1fr); }

body {
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  font-weight: 400;
  line-height: 1.7;
  background-color: var(--color-neutral-Very-Light-Gray); }

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  display: block;
  line-height: 1;
  letter-spacing: 1px;
  color: var(--color-Dark-Blue); }

.heading-primary {
  font-size: 4.8rem; }

.heading-secondary {
  font-size: 2.5rem; }

.heading-tertiary {
  font-size: 1.8rem; }

.u-mb-sm {
  margin-bottom: 2rem; }

.u-mb-md {
  margin-bottom: 4rem; }

.u-mb-lg {
  margin-bottom: 6rem; }

.u-mb-hg {
  margin-bottom: 8rem; }

.btn__link:link,
.btn__link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.5rem;
  border-radius: 3.5rem;
  padding: 0.8rem 3.2rem;
  transition: all 0.3s; }

.btn--full:link,
.btn--full:visited {
  background-image: linear-gradient(to right, var(--color-Lime-Green), var(--color-Bright-Cyan));
  color: #fff; }

.btn--full:hover,
.btn--full:active {
  background-color: red;
  color: #ffff; }

.header__box {
  background-color: var(--color-neutral-White);
  grid-column: full-start / full-end;
  height: 8rem; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 4.8rem;
  width: 85%;
  margin: 0 auto; }

.main__nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem; }

.main__nav-link:link,
.main__nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--color-neutral-Grayish-Blue);
  font-weight: 400;
  font-size: var(--font-size-default); }

.footer {
  grid-column: full-start / full-end; }

.section__articles {
  grid-column: center-start / center-end;
  padding: 9.6rem 0; }

.article__content {
  padding: 2.2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.2rem; }

.article__img-box {
  flex: 0 0 40%; }

.article {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: stretch;
  flex-direction: column;
  border-radius: 11px;
  overflow: hidden; }
  .article-img {
    width: 100%;
    height: 100%;
    display: inline-block; }
  .article-author {
    font-size: 1.2rem;
    color: var(--color-neutral-Grayish-Blue); }
  .article-text {
    color: var(--color-neutral-Grayish-Blue);
    font-size: 1.3rem;
    line-height: 1.8; }

.section__home {
  grid-column: center-start / full-end; }

.home__description {
  padding: 4.8rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 3.2rem; }
  .home__description-text {
    font-size: 1.8rem;
    color: var(--color-neutral-Grayish-Blue); }

.home__photo {
  background-image: url(../../images/bg-intro-desktop.svg);
  background-size: cover;
  background-position: bottom;
  margin: 0 -27rem 0 0;
  overflow: hidden; }

.home__img {
  width: 60%;
  margin: -10rem 0 0 14rem; }

.section__why {
  grid-column: full-start / full-end;
  background-color: var(--color-neutral-Light-Grayish-Blue);
  padding: 4.8rem 0 9.6rem 0;
  margin-top: -5rem;
  z-index: -1;
  position: relative; }

.why__description {
  font-size: var(--font-size-default);
  color: var(--color-neutral-Grayish-Blue);
  max-width: 65%;
  margin-bottom: 4.8rem; }

.why__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.8rem; }

.why-img {
  width: 4.25rem;
  height: 4.25rem; }

.why-text {
  color: var(--color-neutral-Grayish-Blue);
  font-size: 1.3rem;
  line-height: 1.8; }
