/*
0 - 600px : phone
600px - 1000px: tab-portrait
1000px - 1200px : tab-landscape
1200px - 1800px : normal styles apply
1800px + : big desktops

$breakpoints arguments
-phone
-tab-port
-tab-land
-big-desktops

*/
:root {
  --color-Dark-Blue: hsl(233, 26%, 24%);
  --color-Lime-Green: hsl(136, 65%, 51%);
  --color-Bright-Cyan: hsl(192, 70%, 51%);
  --color-neutral-Grayish-Blue: hsl(233, 8%, 62%);
  --color-neutral-Light-Grayish-Blue: hsl(220, 16%, 96%);
  --color-neutral-Very-Light-Gray: hsl(0, 0%, 98%);
  --color-neutral-White: hsl(0, 0%, 100%);
  --font-size-default: 1.5rem;
  --font-family-default: "Public Sans", sans-serif; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 64.375em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

.sticky .header {
  position: fixed;
  background-color: var(--color-neutral-White);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  z-index: 999; }

.sticky .section__home {
  padding-top: 6.5rem; }

.hidden {
  transition: transform 1s, opacity 1s; }

.section--hidden {
  opacity: 0;
  transform: translateY(8rem); }

.container {
  max-width: 144rem;
  padding: 0 14rem;
  margin: 0 auto; }
  @media (max-width: 64.375em) {
    .container {
      padding: 0 6rem; } }

.main__grid {
  display: grid;
  grid-template-columns: [full-start] minmax(14rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(14rem, 1fr) [full-end]; }
  @media (max-width: 64.375em) {
    .main__grid {
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }

.grid {
  display: grid;
  gap: 3.2rem; }

.grid-col--2 {
  grid-template-columns: repeat(2, 1fr); }

.grid-col--3 {
  grid-template-columns: repeat(3, 1fr); }

.grid-col--4 {
  grid-template-columns: repeat(4, 1fr); }

.grid-col--5 {
  grid-template-columns: repeat(5, 1fr); }

body {
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  font-weight: 400;
  line-height: 1.7;
  background-color: var(--color-neutral-Very-Light-Gray); }

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  display: block;
  line-height: 1;
  letter-spacing: 1px;
  color: var(--color-Dark-Blue); }

.heading-primary {
  font-size: 4.8rem; }
  @media (max-width: 37.5em) {
    .heading-primary {
      font-size: 3.6rem; } }

.heading-secondary {
  font-size: 2.5rem; }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.3rem; } }

.heading-tertiary {
  font-size: 1.8rem; }

.u-mb-sm {
  margin-bottom: 2rem; }

.u-mb-md {
  margin-bottom: 4rem; }

.u-mb-lg {
  margin-bottom: 6rem; }

.u-mb-hg {
  margin-bottom: 8rem; }

.btn__link:link,
.btn__link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.5rem;
  border-radius: 3.5rem;
  padding: 0.8rem 3.2rem;
  transition: all 0.3s; }

.btn--full:link,
.btn--full:visited {
  background-image: linear-gradient(to right, var(--color-Lime-Green), var(--color-Bright-Cyan));
  color: #fff; }

.btn--full:hover,
.btn--full:active {
  filter: grayscale(50%); }

.header__box {
  background-color: var(--color-neutral-White);
  grid-column: full-start / full-end; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 4.8rem;
  height: 6.5rem;
  width: 100%;
  margin: 0 auto; }
  @media (max-width: 64.375em) {
    .header {
      width: 100%; } }
  @media (max-width: 37.5em) {
    .header {
      padding: 0.9rem 2.4rem; } }

.main__nav-item {
  position: relative; }

.main__nav-item::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-Lime-Green);
  transform: scalex(0);
  transition: transform 0.2s 0.2s; }

.main__nav-item:hover::before {
  transform: scalex(1); }

.main__nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem; }

.main__nav-link:link,
.main__nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--color-neutral-Grayish-Blue);
  font-weight: 400;
  font-size: var(--font-size-default);
  transition: all 0.3s; }

.main__nav-link:hover,
.main__nav-linka:active {
  color: var(--color-Dark-Blue); }

.footer {
  grid-column: full-start / full-end;
  background-color: var(--color-Dark-Blue);
  padding: 3.2rem 0; }

.content {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 56.25em) {
    .content {
      flex-wrap: wrap;
      gap: 5.2rem;
      justify-content: center; } }
  .content__box {
    display: flex;
    gap: 11rem;
    justify-content: space-between; }
    @media (max-width: 56.25em) {
      .content__box {
        flex: 0 0 100%;
        gap: 6rem; } }
    @media (max-width: 37.5em) {
      .content__box {
        flex-direction: column;
        align-items: center;
        gap: 1.2rem; } }

.social__img {
  width: 2.25rem;
  height: 2.25rem; }

.footer__img {
  filter: brightness(4.5); }

.footer--list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: flex-start;
  list-style: none; }
  @media (max-width: 37.5em) {
    .footer--list {
      align-items: center; } }

.footer__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 56.25em) {
    .footer__btn {
      gap: 3.2rem; } }

.footer__text {
  color: var(--color-neutral-Grayish-Blue); }

.footer--link:hover,
.footer--link:active {
  color: var(--color-Lime-Green); }

.section__articles {
  grid-column: center-start / center-end;
  padding: 6.5rem 0; }
  @media (max-width: 37.5em) {
    .section__articles {
      padding: 4.8rem 0; } }

.article__content {
  padding: 2.2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem; }
  @media (max-width: 56.25em) {
    .article__content {
      padding: 0 2.2rem; } }

@media (max-width: 56.25em) {
  .article__box {
    grid-template-columns: repeat(2, 1fr);
    gap: 4.8rem; } }

@media (max-width: 37.5em) {
  .article__box {
    grid-template-columns: 1fr; } }

.article__img-box {
  flex: 0 0 40%; }
  @media (max-width: 64.375em) {
    .article__img-box {
      overflow: hidden;
      flex: 0 0 50%; } }

.article {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  border-radius: 11px;
  overflow: hidden; }
  .article-img {
    width: 100%;
    height: 100%;
    display: inline-block; }
  .article-author {
    font-size: 1.2rem;
    color: var(--color-neutral-Grayish-Blue); }
  .article-text {
    color: var(--color-neutral-Grayish-Blue);
    font-size: 1.3rem; }

.section__home {
  grid-column: center-start / full-end; }
  @media (max-width: 46.875em) {
    .section__home {
      grid-column: full-start / full-end; } }

@media (max-width: 46.875em) {
  .home {
    grid-template-columns: 1fr; } }

.home__description {
  padding: 4.8rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 3.2rem; }
  @media (max-width: 46.875em) {
    .home__description {
      grid-row: 2 / 3;
      padding: 4.8rem 6rem; } }
  @media (max-width: 23.75em) {
    .home__description {
      align-items: center; } }
  .home__description-text {
    font-size: 1.8rem;
    color: var(--color-neutral-Grayish-Blue); }

.home__photo {
  background-image: url(../../images/bg-intro-desktop.svg);
  background-size: cover;
  background-position: bottom;
  margin: 0 -27rem 0 0;
  overflow: hidden; }
  @media (max-width: 46.875em) {
    .home__photo {
      grid-row: 1 / 2;
      background-size: auto; } }
  @media (max-width: 37.5em) {
    .home__photo {
      margin: 3px -53rem -49px -324px; } }

.home__img {
  width: 60%;
  margin: -10rem 0 0 14rem; }
  @media (max-width: 46.875em) {
    .home__img {
      margin: -25rem 0 0 14rem; } }
  @media (max-width: 37.5em) {
    .home__img {
      margin: -14rem 0 0 43rem;
      width: 29%; } }

.section__why {
  grid-column: full-start / full-end;
  background-color: var(--color-neutral-Light-Grayish-Blue);
  padding: 6.5rem 0; }
  @media (max-width: 37.5em) {
    .section__why {
      margin-top: 0; } }

@media (max-width: 56.25em) {
  .why {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 37.5em) {
  .why {
    grid-template-columns: 1fr; } }

.why__description {
  font-size: var(--font-size-default);
  color: var(--color-neutral-Grayish-Blue);
  max-width: 65%;
  margin-bottom: 4.8rem; }
  @media (max-width: 56.25em) {
    .why__description {
      max-width: 100%; } }

.why__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.8rem; }
  @media (max-width: 37.5em) {
    .why__item {
      align-items: center; } }

.why-img {
  width: 4.25rem;
  height: 4.25rem; }

.why-text {
  color: var(--color-neutral-Grayish-Blue);
  font-size: 1.3rem;
  line-height: 1.8; }
