///////////////////////////////
//MEDIA QUERIES

/*
0 - 600px : phone
600px - 1000px: tab-portrait
1000px - 1200px : tab-landscape
1200px - 1800px : normal styles apply
1800px + : big desktops

$breakpoints arguments
-phone
-tab-port
-tab-land
-big-desktops

*/
@mixin respond($breakpoint) {
  @if $breakpoint == (tab-land) {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }
  @if $breakpoint ==(tab-port) {
    @media (max-width: 64.375em) {
      //1030px
      @content;
    }
  }
  @if $breakpoint ==(mid-tab-port) {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }
  @if $breakpoint==(low-tab-port) {
    @media (max-width: 46.875em) {
      //750px
      @content;
    }
  }
  @if $breakpoint==(phone) {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint==(sm-phone) {
    @media (max-width: 23.75em) {
      //380px
      @content;
    }
  }
  @if $breakpoint==(big-desktops) {
    @media (min-width: 112.5em) {
      //1800px +
      @content;
    }
  }
}
