.footer {
  grid-column: full-start / full-end;
  background-color: var(--color-Dark-Blue);
  padding: 3.2rem 0;
}
.content {
  display: flex;
  justify-content: space-between;

  @include respond(mid-tab-port) {
    flex-wrap: wrap;
    gap: 5.2rem;
    justify-content: center;
  }

  &__box {
    // grid-column: 1 / span 2;
    display: flex;
    gap: 11rem;
    justify-content: space-between;

    @include respond(mid-tab-port) {
      flex: 0 0 100%;
      gap: 6rem;
    }
    @include respond(phone) {
      flex-direction: column;
      align-items: center;
      gap: 1.2rem;
    }
  }
}
.social__img {
  width: 2.25rem;
  height: 2.25rem;
}

.footer__img {
  filter: brightness(4.5);

  // @include respond(phone) {
  //   flex: 0 0 40%;
  // }
}
.footer--list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: flex-start;
  list-style: none;

  @include respond(phone) {
    align-items: center;
  }
}
.footer__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include respond(mid-tab-port) {
    gap: 3.2rem;
  }
}
.footer__text {
  color: var(--color-neutral-Grayish-Blue);
}
.footer--link:hover,
.footer--link:active {
  color: var(--color-Lime-Green);
}
