.header__box {
  background-color: var(--color-neutral-White);
  grid-column: full-start / full-end;
  // height: 8rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 4.8rem;
  height: 6.5rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
  @include respond(tab-port) {
    width: 100%;
  }
  @include respond(phone) {
    padding: 0.9rem 2.4rem;
  }
}
.main__nav {
  @include respond(mid-tab-port) {
    background-color: var(--color-neutral-White);
    position: absolute;
    top: 0;
    right: 0;
    height: 70vh;
    width: 55%;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    // hide navigation
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
.nav-open .main__nav {
  @include respond(mid-tab-port) {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
}

.nav-open .icon-mobile-nav[name="menu-outline"] {
  display: none;
}
.nav-open .icon-mobile-nav[name="close-outline"] {
  display: block;
}
.main__nav-item {
  position: relative;
}
.main__nav-item::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-Lime-Green);
  transform: scalex(0);
  transition: transform 0.2s 0.2s;
}
.main__nav-item:hover::before {
  transform: scalex(1);
}

.main__nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;

  @include respond(mid-tab-port) {
    flex-direction: column;
  }
}

.main__nav-link:link,
.main__nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--color-neutral-Grayish-Blue);
  font-weight: 400;
  font-size: var(--font-size-default);
  transition: all 0.3s;
}

.main__nav-link:hover,
.main__nav-linka:active {
  color: var(--color-Dark-Blue);
}
////////////////////////////
///Mobile navigation
.btn__mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;

  @include respond(mid-tab-port) {
    display: block;
  }
}
.icon-mobile-nav {
  height: 3.25rem;
  width: 3.25rem;
  color: #333;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}
