///////////////////////////////////////
/// BASIC RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  // 1rem = 10px
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
}
.container {
  max-width: 144rem;
  padding: 0 14rem;
  margin: 0 auto;
}
.main__grid {
  display: grid;
  grid-template-columns:
    [full-start] minmax(14rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(14rem, 1fr) [full-end];
}

.grid {
  display: grid;
  gap: 3.2rem;
}
.grid-col--2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-col--3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-col--4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-col--5 {
  grid-template-columns: repeat(5, 1fr);
}

// display: grid;
// grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
// grid-template-columns:
//   [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
//   [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
//   [center-end] minmax(6rem, 1fr)
//   [full-end]; //max can be 14rem but never below the mincontent
