body {
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  font-weight: 400;
  line-height: 1.7;
  background-color: var(--color-neutral-Light-Grayish-Blue);
}
.heading-primary {
  font-size: 4.8rem;
  font-weight: 700;
  display: block;
  line-height: 1;
  letter-spacing: 1px;
  color: var(--color-Dark-Blue);
}
